<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup> 
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework> 

  <appSettings>
    
    <!--define one keyword-->
    <add key="datasift_keyword" value="" />
    
    <!--<add key="datasift_username" value="abekmuratov" />
    <add key="datasift_apikey" value="9325845b21f117f2c11bb91e2124a4ee" />-->
    
    <add key="datasift_username" value="ganijon777"/>
    <add key="datasift_apikey" value="f03d49c2c775045e2fee3151acc5f7bc"/>
    

    
    
  </appSettings>
  
  <connectionStrings>
    <add name="TestDbEntities" connectionString="metadata=res://*/TestDB.csdl|res://*/TestDB.ssdl|res://*/TestDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVSERVER\SQL2012;initial catalog=TwitterSentimentDB;user id=sa;password=web@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>